<header>
  <div class="container">
     <a routerLink="/" class="logo">Mi comida  |  Inicio</a>

     <nav>
        <ul>
          <li>
            <a routerLink="/login">Ingrese</a>
         </li>
         <li class="menu-container">
             <a routerLink="/dasboard">Jhon</a>
            <div class="menu">
                <a routerLink="/profile">Perfil</a>
                <a routerLink="/orders">Pedidos</a>
                <a >Salir</a>
             </div>
         </li>
          <li>
             <a routerLink="cart-page">
               Card <span *ngIf="cardQuantity">{{cardQuantity}}</span>
             </a>
          </li>
       </ul>
  </nav>
</div>
</header>
